*{margin: 0;padding: 0;}
.container{
   
}
/* Portada*/
.principal{
    height: 80px;   
}

.logo{
    height: 120px;
    z-index:1 ;
    position: absolute;
top:-0px ;box-shadow: -1px 18px 11px rgba(25,60,65,.35);
}
.menu{ background: #222;
    color:#fff;   
}
.menu2{ 
    
    border-left: solid;
    text-align: center;
    
}
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active, .dot:hover {
  background-color: #717171;
}
.prev, .next {
  cursor: pointer;
  width: auto;
  color: white;
  font-weight: bold;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}
.prev:hover, .next:hover {
  background-color: rgba(120,20,110,0.8);
     transition: background-color 2s;
       
}

.imgco{
    height: 560px;box-shadow: -2px 8px 12px  rgba(35,35,35,.35) ;
    overflow: hidden;
    display: block
}
.menuimg{ 
    min-height:370px ;
    
}
.img2{ height:50%;
   

}
.img2:hover{ 
    height:51%;
    
        
}        
.imagenb{position: relative;
    z-index:1 ;
    box-shadow: -7px 11px 11px  rgba(35,35,35,.35) ;
    margin-top:40px ;
    
}

.text{
    
    text-align: center;
    font-size: 4em;
    color: #fff;
    border-bottom: solid;
    
  
    
}
.op{  position: absolute;
    z-index: 1;
top:30%;

background-color: rgba(25,80,85,.15);
border: solid;
border-color:rgba(25,80,85,.25) ;
box-shadow: -1px 21px 11px  rgba(35,35,35,.65) ;}
.arrowl{font-size:5em ;
position: absolute;
z-index: 2;
top:40%;
color:#eee ;
background-color: rgba(25,80,85,.25);
border: solid;border-color:rgba(15,60,65,.35)}

.arrowr
{font-size:5em ;
position: absolute;
z-index: 2;
top:40%;
color:#eee ;
border: solid;
background-color: rgba(25,60,85,.35);
border-color:rgba(15,60,65,.25);}

.footer

    {color:#fff;
    height: 80px;
    background: #222;
    overflow: hidden;
}

.linkbottom{     
    background:rgba(235,235,235,.95) ;
    overflow: hidden;
    border: solid;
    border-width: thick;
    border-color:rgba(15,15,15,.2) ;
    height:360px ;
}
  

.textcover{font-size: .40em;}

body{   background: rgba(185,76,136,1);
;

     font-family: 'Roboto', sans-serif;}
.text2{
   
    color: #222;
    border-top:solid ;
    padding: 5px ;
    height:130px ;
    
 }

.slider {
    overflow: hidden;
    display:block ;
  
}
.slider ul {display: flex;
    padding: 0;
    width: 300%;
    animation:cambio 18s infinite alternate;
    animation-timing-function: ease-in;
    
}
.contmed ul {display: flex;
    padding: 0;
    width: 300%;
    animation:cambio 18s infinite alternate;
    animation-timing-function: ease-in;
    
}

.slider li{
    width:100%;
    list-style: none;
   
}
.slider img{width: 120%;
    
}
@keyframes cambio{
    0%{margin-left:0;}
    40%{margin-left: 0%;}
    45%{margin-left: -100%;}
    
    70%{margin-left: -100%;}
    75%{margin-left: -200%;}
    
   100%{margin-left: -200%;}
    
}

.banner {
    overflow: hidden;
    display:block ;
  
}
.banner ul {display: flex;
    padding: 0;
    width: 400%;
    animation:banner 10s infinite alternate;
    animation-timing-function: ease-in-out;
    
}
.banner li{
    width:100%;
    list-style: none;
   
}
.banner img{width: 100%;
    height: 180px;
    
}


@keyframes banner{
    0%{margin-left:0;}
    40%{margin-left: 0%;}
    45%{margin-left: -100%;}
    
    70%{margin-left: -100%;}
    75%{margin-left: -200%;}
    
   100%{margin-left: -200%;}
    
}
/* Portada*/

/*global rules */
.boxshadow{box-shadow: 11px 22px 11px rgba(25,60,65,.25);}
.boxshadow2{box-shadow: -11px 22px 11px rgba(25,60,65,.15);}
a{border-style: none;
   text-decoration: none;
    color:white}
a:hover  {color:#f3ce40; background-color:transparent; text-decoration:none;}
a:active  {color:#f3ce40; background-color:transparent; text-decoration:underline;}
/*global rules */
.ban
{height: 130px;
background:#828eb0;
overflow: hidden;
}
.bannerbackground
{
background:#333;

}
.banner
{height: 180px;
overflow: hidden;}
.contenedor 
{height:720px ;
background:rgba(225,205,185,1) ;
    
}

.des { background:rgba(245,235,215,.8);
    height: 360px;    
}
.contenedortext1 {
    background:rgba(245,235,215,.8);
    height: 360px;
}

.fondo {
    background:rgba(180,140,115,1) ;
}

.bannerback {
    background:#305a93 ;
}

.foot {
    
    
    margin-top: 25px ;
    }




.cont {
   
    padding: 20px;
    background: rgba(255,246,211,.9);
    margin-bottom: 20px;
 
    min-width: 200px;
display: block;
}
.cont33 {
    height: 880px;
    background: rgba(245,226,216,1);
    margin-bottom: 15px;
}
.contmed {height: 880px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.title{
    height: 150px;
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 3em;
    background: #222222;
    color: #fff;
}
.title p{margin-top: px}
.texto1{
    height: 400px;
   
    
     color: white;
    
    background: rgba(255,196,76,1);
border-left: solid;}

.texto1 p{
   margin-left: 25px;
margin-top: 25px;
 }
.texto2{
    height: 440px;
    
    background: rgba(15,116,176,.72);
    color: white;
    font-size: 2em;
    border-right: solid;
     

}
.texto2 p{
   margin-right: 25px;
margin-top: 25px;
text-align: right;
    
  }
.imgdes{
overflow: hidden;
display: block;
 height: 400px;
}

.mapdes{

display: block;
 height: 400px;
    z-index: 4;
    position: relative;
    top: -153px
}
.img2des{
overflow: hidden;
display: block;
 height: 440px;
min-width: 280px;
   position: relative;
}


.red {
    height:152% ;
    position: relative;
    top: -140px;
    
}


.logo { height: 150px;
    
}
.logo img{height: 100%;
margin-top: 20px}
.fopobre {background-color: rgba(255,196,76,1);
        
}

.blue {
    height: 100%;
        
       
}

.bottom {height: 100px;
background: #222222;
    color: #fff;
    
}

.iconos {float: right;
    height: 100%;}


.contacto {
    border-left: solid;
    height: 100% ;
 margin-top: 0px;
    padding-left: 20px;
    
}
@media(max-width: 720px)
{
    
    .op
    {   position: absolute;
        z-index: 1;
        top:30%;
        
    }

    .linkbottom{
        height:100px ;}
    .img {
        height: 200%; }
    .slider{
        height: 600px; 
        overflow: hidden;
        display: block;
    }
    .slider img{
    width: 135%;}
    .logo{
    height:  13%;}
    .texto2 p{ 
    font-size: .65em; 
    
  }
    
    .red {
    height:100% ;
    position: relative;
    top: 0px
}
    .logo { height: 120px;
    
}
    .title{
    height: 120px;
    font-size: 2em;  
    }
    .title p {
    margin-top: 20px;  
    }


   
    .bottom {
    margin-top: 15px;
    height: 80px;
    background: #222222;
    color: #fff;
    
}
    .contacto {
    border-left: solid;
    font-size: .7em;
    margin-top: 0px;
    padding-left: 20px;
    
}
    .foot {
    margin-top: 25px ;
    font-size: .8em;
    
    
   
}
}



.textopo1 {
    
    height: 400px;
    overflow: hidden;
   
    
     color: white;
    font-size: 1.3em;
background-color: rgba(255,196,76,1);
border-left: solid;
    min-width: 280px;
}

.textopo1 P { margin-left: 25px;
margin-top: 25px;
    
}

.textopo2 {
    height: 440px;
    
background-color: rgba(255,166,76,1);
;
    color: white;
    font-size: 1.3em;
    border-right: solid;
   overflow: hidden;
     min-width: 280px;
    
}

.textopo2 p{
   margin-right: 25px;
margin-top: 25px;
text-align: right;
    
  } 

.media1 {
    height: 100px;
    background: #ffa;
}

.media1 p { color: black;
    font-size: 4em;
    text-align: center;
    
}

.ma {
    margin-top: 12px;
}

.vidmedia {
    height: 880px;
}

.vid {
    height: 100%;
}

.mar {
    margin-top: 200px;
}

.contactt {font-size: 1.3em ;
   padding-top: 50px;
   margin-right:15px ;
    
}

.contactm {ont-size: 1em ;
   padding-top: 50px;
   margin-right:15px ;
   
    
}

.contactd { font-size: 1.4em ;
            margin-right:15px ;
            padding-top: 50px;
           
    
}

.textopobm {font-size:.7em ;
    
}

.textopob2 {
    font-size:.9em ;
}

.textopob2t {font-size:.8em ;
    
}

.textopobt {
    font-size: .8em;
}

.textopob2m {
    font-size: .7em;
   
}

.textoexhbt {
    font-size: 1.8em;
    margin-right:25px ;
}

.textoexhbm {
      font-size:1.2em ;
      margin-right:25px;

}

.texto22 {
    height: 440px;
    overflow: hidden;
    background: rgba(15,116,176,.72);
    color: white;
    border-right: solid;
}

.off {
    position: relative;
    left:-165px ;
}

.je {
    height: 120%;
}

.je2 {
    height: 110%;
}

.je3 {
    height: 110%;
}

.textoexhb {
    font-size: 2em;
}

.vs {
    height: 600px;
}

.textexh {padding:21px;
    font-size:1.5em;
   background: rgba(245,216,176,1);
    min-width: 200px;
    color: #222;
    
    
}

.pictures {padding-left:7px ;
    min-width: 300px;
}

.ew {
    height: 780px;
    display: flex;
}

.mennnu {
    min-width: 400px;
}

.dad {
    
}

.dd {
    position: relative;
    z-index: 44;
    color: white;
    top: 21px;
}

.imga2 {height: 600%;
    z-index: 2;
    top: -321px;
    left: -20px;
    position: relative;
    opacity: .8
}
.imga2:hover {
    opacity: 1
}
.imga3:hover {
    opacity: .8
}
.imga3 {height: 600%;
    z-index: 2;
    top: -221px;
    left: -60px;
    position: relative;
    opacity: .2
}
